<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark navbar-light"
  (window:scroll)="windowScroll()" id="navbar">
  <div class="container">
    <!-- LOGO -->
    <a class="logo text-uppercase" href="/">
     <div style="font-weight: bold; color: white; font-size: larger;" class="logo-light">REVICOR</div> 
     <div style="font-weight: bold; color: black; font-size: larger;" class="logo-dark">REVICOR</div> 
      <!-- <img src="assets/images/logo-light.png" class="logo-light" alt="" height="20">
      <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="20" /> -->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
        
        <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">
          <a [ngxScrollTo]="'#home'" href="javascript: void(0);" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':currentSection === 'services'}">
          <a [ngxScrollTo]="'#services'" href="javascript: void(0);" class="nav-link">Servicios</a>
        </li>
       
        <li class="nav-item" [ngClass]="{'active':currentSection === 'ventajas'}">
          <a [ngxScrollTo]="'#ventajas'" href="javascript: void(0);" class="nav-link">Ventajas</a>
        </li>
<!--         <li class="nav-item" [ngClass]="{'active':currentSection === 'clients'}">
          <a [ngxScrollTo]="'#clients'" href="javascript: void(0);" class="nav-link">Esconder =D</a>
        </li> -->
        
        <li class="nav-item" [ngClass]="{'active':currentSection === 'contacto'}">
          <a [ngxScrollTo]="'#contacto'" href="javascript: void(0);" class="nav-link">Contacto</a>
        </li> 

        <li class="nav-item">
          <a href="https://wa.me/51989337020?text=Mucho%20gusto,%20quisiera%20conocer%20acerca%20de%20los%20servicios%20de%20Revicor" 
          target="_blank" class="nav-link" rel="nofollow">Whatsapp</a>
        </li> 

      </ul>
     

    </div>
  </div>
</nav>
<!-- Navbar End -->
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
  <!-- Hero section Start -->
  <section class="hero-section-2 bg-primary" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="hero-wrapper text-center mb-4">
            <p class="font-16 text-white-50 text-uppercase">Nosotros</p>
            <h1 class="hero-title text-white mb-4">Revestimientos para losas de concreto <span
                class="text-success"> REVICOR</span></h1>

            <p class="text-white-50">Sistemas de morteros epóxicos planchables y autonivelantes, morteros de poliuretano cemento,
              membranas líquidas, mantos asfálticos, entre otros. 
            </p>
<!-- 
            <div class="watch-video pt-5">
              <a (click)="openWindowCustomClass(videocontent)" class="video-play-icon text-light"><i
                  class="mdi mdi-play play-icon-circle play play-iconbar"></i> WATCH VIDEO</a>
              <ng-template #videocontent let-modal class="video-modal">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body p-0">
                  <youtube-player [videoId]="'JlvxDa7Sges'" height="450" width="780">
                  </youtube-player>
                </div>
              </ng-template>
            </div>

             -->
          </div>

        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- Hero section End -->
  <app-services></app-services>
  <app-features></app-features>
  
  <!-- TESTIMONIOS -->
 <!--  <app-clients></app-clients> -->
  
 <!-- PROYECTOS -->
  <app-plans></app-plans> 

  <app-footer></app-footer>
</div>
